html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto''Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'HelveticNeue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New'monospace;
}

.red {
    background-color: red;
}

.blue {
    background-color: lightblue;
}

.green {
    background-color: lightgreen;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}


/* Reset Boostrap Classes */

.container {
    height: 100%;
}

.row {
    margin: 0;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    padding: 0;
}

.col .form-control {
    padding: .375rem .75rem;
}

i {
    padding: 0.25rem;
    align-self: center;
}

button {
    border: none;
    margin: 0;
    background-color: inherit;
}

.cdlg-col {
    -webkit-box-flex: 0;
    -ms-flex: 1 0 0;
    flex: 1 0 0;
}

.cdlg-icon {
    align-content: center;
    color: #495057;
}

.cdlg-button-icon {
    align-content: center;
    padding: 0 0.5rem;
    color: #bebebe;
    border-radius: inherit;
}

.cdlg-button-icon:hover {
    background-color: #f6f6f6;
    color: #777;
}

.cdlg-button-icon i {
    line-height: inherit;
}

.cdlg-circled-img,
.cdlg-circled-button {
    color: #aeaeae;
}

.cdlg-circled-img i,
.cdlg-circled-button i {
    font-size: 2.5rem;
    border-radius: 100rem;
    border: 1px solid #dee2e6;
}

.cdlg-circled-img p,
.cdlg-circled-button p {
    color: #333;
    font-size: .9rem;
}

.cdlg-circled-button:hover {
    color: #777;
    font-weight: 400;
}

.cdlg-navigation-bar .container {
    margin-bottom: 2rem;
    border-bottom: 1px solid lightgray;
    padding: .25rem 0;
}

.cdlg-navigation-bar .cdlg-logo {
    padding: 0 1rem;
    text-align: center;
    color: #333;
    text-decoration: none;
}

.cdlg-content-container {
    min-height: 100vh;
}

.cdlg-search-form-container {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.cdlg-search-form-container input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    border-right: 1px solid #ced4da;
}

.cdlg-select-form-container {
    width: 100%;
}


/* Players Class */

.cdlg-players-list-container {
    height: 510px;
    overflow: auto;
    white-space: nowrap;
    border-radius: 0.25rem;
    border: 1px solid #dee2e6;
}

.cdlg-players-list {
    width: 100%;
    padding: 1.5rem 1rem;
    font-size: 0.9em;
    /* height: inherit;
    overflow: auto;
    white-space: nowrap; */
}

.cdlg-players-list h4 {
    padding-left: .75rem;
    margin-bottom: 1.5rem;
}

.cdlg-players-list .list-group-item {
    padding: 0;
}

.cdlg-player-button {
    padding: .55rem .75rem;
    text-align: left;
}

.cdlg-player-button:hover {
    text-decoration: underline;
}

.cdlg-player-info-container {
    border-top: 1px solid rgba(0, 0, 0, .125);
}

.cdlg-player-info {
    overflow: auto;
    white-space: nowrap;
}

.cdlg-player-info-details-container {
    position: relative;
}

.cdlg-player-info-details-container .table {
    margin-bottom: 1.2rem;
}

.cdlg-player-info table td,
.cdlg-player-info table th {
    padding: .35rem;
    text-align: center;
}

.cdlg-player-info table thead th {
    border-bottom: 1px solid #dee2e6;
    font-size: .75rem;
    font-weight: 500;
}

.cdlg-player-info table tbody td {
    font-size: .75rem;
}

.cdlg-players-list .cdlg-close-button {
    position: absolute;
    top: -10px;
    right: -5px;
}

.cdlg-player-info-container .cdlg-close-button {
    top: 5px;
    right: 0;
}

.cdlg-player-title {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

.cdlg-player-title p {
    border-top: 1px solid rgba(0, 0, 0, .125);
    margin-bottom: 0;
    padding: .35rem;
    text-align: center;
    font-weight: 500;
    width: 100%;
}

.cdlg-view-more-button {
    width: 100%;
    margin-top: .5rem;
    padding: .15rem;
    background-color: rgba(0, 0, 0, .125);
    border-radius: 0;
    border: none;
    color: #212529;
}

.cdlg-player-details-img {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    background-color: lightgray;
}

.cdlg-player-details-img p {
    text-align: center;
    font-weight: 500;
    margin-bottom: 0;
    padding: .35rem;
    border-top: 1px solid #dee2e6;
}


/* Users Class */

.cdlg-users-list-container {
    border-radius: 0.25rem;
    border: 1px solid #dee2e6;
}


/* Widget Class */

.cdlg-widget-container {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem !important;
    margin-bottom: 0.5rem;
}

.cdlg-widget-container h5 {
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    margin: 0;
}

.cdlg-widget-container .cdlg-list-group-horizontal:last-child {
    border-bottom: none;
}


/* Widget List Class */

.cdlg-list-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.cdlg-list-group-horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #dee2e6;
}

.cdlg-list-group .cdlg-list-group-item {
    border-bottom: 1px solid #dee2e6;
}

.cdlg-list-group-horizontal .cdlg-list-group-item {
    border-right: 1px solid #dee2e6;
}

.cdlg-list-group-horizontal .cdlg-list-group-item:last-child {
    border-right: none;
}

.cdlg-list-group-item {
    padding: 0.5rem 1rem;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    list-style: none;
}

.cdlg-matches-widget-container .cdlg-list-group-item {
    padding: 0.25rem .5rem;
}


/* Widget Table Class */

.cdlg-table-widget {
    width: 100%;
}

.cdlg-table-widget thead h5 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
}

.cdlg-table-widget tr {
    border-bottom: 1px solid #dee2e6;
}

.cdlg-table-widget thead h5 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
}

.cdlg-table-widget tbody tr:last-child {
    border-bottom: none;
}

.cdlg-table-widget th,
.cdlg-table-widget td {
    padding: 0.35rem .75rem;
    border-right: 1px solid #dee2e6;
}

.cdlg-table-widget th:last-child,
.cdlg-table-widget td:last-child {
    border-right: none;
}

.cdlg-table-widget thead th:first-child {
    padding: 0;
}

.cdlg-light-grey-row {
    background-color: rgba(0, 0, 0, 0.035);
}


/* Matches Widget */

.cdlg-matches-widget-container {
    text-align: center;
}

.cdlg-matches-widget-row {
    border-top: 1px solid rgba(0, 0, 0, 0.35);
}

.cdlg-matches-team-title {
    font-weight: 600;
}

.cdlg-matches-time {
    padding: .6rem .75rem;
    font-size: .9em;
}


/* Top Score Class */

.cdlg-top-score-widget-container {
    text-align: center;
}


/* Home Adds */

.cdlg-home-banner {
    height: 300px;
    background-color: lightgray;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    margin-bottom: 2rem;
}

.cdlg-home-banner img {
    padding: 2px;
    padding-left: 5%;
    height: inherit;
    width: inherit;
}

.cdlg-ad-row {
    padding: 2rem;
    align-items: center;
    margin-bottom: 0.5rem;
    height: auto;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
}

.cdlg-ad-row img {
    width: inherit;
    margin-bottom: 1rem;
}

.cdlg-ad-info-container .cdlg-ad-title {
    margin-bottom: 0.75rem;
}

.cdlg-ad-row button {
    margin-top: 1rem;
}


/* User Squad/Team Class */

.cdlg-user-squad-container {
    margin-bottom: .75rem;
}

.cdlg-user-squad-pitch-view {
    border: 1px solid #dee2e6;
    border-radius: .25em;
    position: relative;
}

.cdlg-user-squad-field-img {
    width: inherit;
    height: inherit;
}

.cdlg-user-squad {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 100%;
}

.cdlg-user-squad-rows-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cdlg-user-squad-row {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cdlg-user-squad-row .col {
    text-align: center;
}

.cdlg-user-squad-row-img {
    width: 6vw;
    margin-bottom: .2rem;
}

.cdlg-squad-player-title {
    width: auto;
    margin-bottom: 0;
    background-color: rgba(0, 150, 74, 0.9);
    font-size: 1em;
}

.cdlg-squad-player-title .long-name {
    display: none;
}

.cdlg-squad-player-title .short-name {
    display: block;
    font-size: .5em;
}


/* Register, Login, Profile Classes */

.cdlg-register-form-container,
.cdlg-login-form-container,
.cdlg-profile-container,
.cdlg-other-profile-container {
    display: flex;
    justify-content: center;
}

.cdlg-profile-container h1,
.cdlg-profile-container p,
.cdlg-other-profile-container p,
.cdlg-other-profile-container h1,
.cdlg-register-form-container h1,
.cdlg-register-form-container p,
.cdlg-login-form-container h1,
.cdlg-login-form-container p {
    position: relative;
    text-align: center;
}

.cdlg-profile-container h1,
.cdlg-other-profile-container h1,
.cdlg-register-form-container h1,
.cdlg-login-form-container h1 {
    margin-bottom: 1rem;
}

.cdlg-other-profile-container h1 span,
.cdlg-profile-container h1 span,
.cdlg-register-form-container h1 span,
.cdlg-login-form-container h1 span {
    z-index: 100;
    padding: 0 1.5rem;
    background-color: white;
}

.cdlg-profile-container p,
.cdlg-register-form-container p,
.cdlg-login-form-container p {
    margin-bottom: 4rem;
}

.cdlg-other-profile-container p {
    margin-bottom: .5rem;
}

.cdlg-other-profile-container i {
    font-size: 6rem;
}

.cdlg-other-profile-container h6 {
    padding: .75rem;
    border-bottom: 1px solid #ced4da;
    margin-bottom: 1rem;
}

.cdlg-register-form-container .row,
.cdlg-login-form-container .row {
    align-items: center;
}

.cdlg-register-form-container .row label,
.cdlg-login-form-container .row label {
    margin-bottom: 1rem;
}

.cdlg-register-form-container .alert,
.cdlg-login-form-container .alert {
    padding: 0.75rem 1.25rem;
}

.cdlg-title-backline {
    height: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 25%;
    z-index: -100;
}

.cdlg-profile-row {
    align-items: center;
    margin-bottom: 2rem;
}

@media (min-width: 576px) {
    .container {
        padding: 0;
    }
    .cdlg-user-squad-row-img {
        width: 5.5vw;
    }
    .cdlg-register-form-container .row label,
    .cdlg-login-form-container .row label {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .cdlg-flex {
        flex-direction: row;
    }
    .cdlg-ads-container {
        padding-left: .5rem;
    }
    .cdlg-top-score-container {
        padding-left: .5rem;
    }
    .cdlg-top-score-container.cdlg-top-score-login-user {
        padding-left: 0;
        padding-right: .5rem;
    }
    .cdlg-squad-player-title .short-name {
        font-size: .75em;
    }
}

@media (min-width: 992px) {
    .col-lg-3-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 29.16%;
        flex: 0 0 29.16%;
        max-width: 29.16%;
    }
    .cdlg-user-squad-container {
        padding-right: .5rem;
    }
    .cdlg-players-searchbox-open {
        width: 4vw;
    }
    .cdlg-players-searchbox-closed {
        width: 6vw;
    }
    .cdlg-lg-col {
        -webkit-box-flex: 0;
        -ms-flex: 1 0 0;
        flex: 1 0 0;
    }
}

@media (min-width: 1200px) {
    .cdlg-squad-player-title .long-name {
        display: block;
    }
    .cdlg-squad-player-title .short-name {
        display: none;
    }
}

@media (min-width: 1400px) {
    .cdlg-players-searchbox-open {
        width: 55px;
    }
    .cdlg-players-searchbox-closed {
        width: 80px;
    }
}

.cdlg-row {
    display: flex;
    flex-direction: row;
}